<div class="container flex justify-between mx-auto">
    <div class="flex gap-3">
        <button>
            <img src="assets/app-logo.png" class="w-8" alt="app-logo">
        </button>
        <button class="font-semibold">SMARTDINING</button>
    </div>
    <div class="flex gap-5">
        <div class="flex bg-violet-900 px-2 rounded-md gap-2">
            <img src="assets/account.svg" alt="">
            <button class="text-white">
                <span>Login</span>
            </button>
        </div>   
        <img src="assets/shopping.svg" alt="" class="w-5">     
    </div>
</div>


