<div class="container mx-auto py-20 grid grid-cols-4 gap-8 text-white">
    <div class="flex flex-col">
        <div class="flex">
            <img src="assets/logo-white.png" alt="Logo" class="w-10">
            <p class="text-base ml-2">SMART DINING</p>
        </div>
        <p class="text-base mt-3">Save Big on Every Dining Experience with A Technology You Will</p>
    </div>

    <div class="flex flex-col">
        <p class="mb-3">Home</p>
        <p class="mb-3">About Us</p>
        <p>Contact Us</p>
    </div>

    <div class="flex flex-col">
        <p class="mb-3">For Restaurants</p>
        <p class="mb-3">Request a Demo</p>
        <p>Features</p>
    </div>

    <div class="flex flex-col items-center gap-3">
        <img src="assets/google.png" alt="Google" class="w-32">
        <img src="assets/apple.png" alt="Apple" class="w-32">
    </div>
</div>
