<div class="grid grid-cols-3">
    <img src="assets/food-3.png" alt="food-3" class=" relative top-10">
    <div class="flex flex-col gap-4 mt-44">
        <p class="text-4xl">Discover the best restaurants, cafes, and bars in your area</p>
        <p class="text-gray-500 text-lg">Smart Dining makes it easy to find the best restaurants for any occasion, book tables
         or order online with a click of a button, and take advantage of exclusive deals.</p>
         <div class="flex gap-5">
         <div class="flex gap-4 border border-purple-800 rounded-md px-2">
            <img src="assets/check-bold.png" alt="" class="">
            <span class="rounded-md"> Dine In</span>
         </div>
         <div class="border border-purple-800 rounded-md"> 
            <span class="px-2">Food Order</span>
         </div>
        </div>
         
        <div class="relative">
            <img src="assets/location.svg" class="absolute h-6 w-6 left-3 top-3" alt="Location Icon">
            <input type="text" placeholder="Type street address or zip code" class="p-3 pl-10 w-full">
            <button class="absolute inset-y-0 right-5  bg-purple-800 items-center border w-44 rounded-md my-1">
            <p class="text-white mx-1">FIND RESTAURANT</p>
            </button>
        </div>
    </div>
    <div class="flex flex-col">
        <img src="assets/food-1.png" alt="food-1">
        <img src="assets/food-2.png" alt="food-2" >
    </div>   
</div>







