<div class="container-fluid mx-auto bg-gray-50 py-20" style="background-image: url('assets/bg-line.svg')">
    <div class="container mx-auto">
      <div class="grid sm:grid-cols-1 gap-3 md:grid-cols-2 items-center">
        <div>
          <img src="assets/club.png" width="340px" alt="">
        </div>
        <div class="flex justify-center items-center gap-2">
          <div class="flex flex-col gap-2">
            <p class="text-sm">Easy and Fast</p>
            <p class="text-lg font-bold">Save money On every meal in 3 easy steps</p>
  
            <div class="flex gap-2">
              <img src="assets/download.png" alt="" class="w-10">
              <div class="flex flex-col">
                <p class="text-sm font-bold">Download Smart Dining App</p>
                <p class="text-sm">Download Smart Dining for 100's of exclusive deals everyday.</p>
              </div>
            </div>
            <div class="flex gap-2">
              <img src="assets/exclusive.png" alt="" class="w-10">
              <div class="flex flex-col">
                <p class="text-sm font-bold">100's of exclusive deals</p>
                <p class="text-sm">100's of exclusive deals everyday from local favorite restaurants.</p>
              </div>
            </div>
            <div class="flex gap-2">
              <img src="assets/premium.png" alt="" class="w-10">
              <div class="flex flex-col">
                <p class="text-sm font-bold">Premium loyalty Program</p>
                <p class="text-sm">You and your guests can pre-order online before reservation date and time.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>