<div class="container mx-auto py-20 grid grid-cols-2">
    <div class="flex flex-col justify-center gap-3">
        <h1 class="text-lg font-bold">All in one app</h1>
        <p class="text-sm">Discover the most popular cuisines available for dine-in in your area, make a reservation, and order ahead of time.</p>
        <div class="flex gap-3">
            <img src="assets/google.png" alt="" class="w-28">
            <img src="assets/apple.png" alt="" class="w-28">
        </div>
    </div>
    <div>
        <img src="assets/phone.png" alt="">
    </div>
</div>
