<div class="container-fluid mx-auto bg-gray-100 py-20">
    <div class="container mx-auto">
      <div class="grid sm:grid-cols-1 gap-3 md:grid-cols-2 items-center">
        <div class="flex justify-center items-center gap-2">
          <div class="flex flex-col gap-2">
            <p class="text-sm">Easy and Fast</p>
            <p class="text-lg font-bold">Book your next Table in 3 easy steps</p>
  
            <div class="flex gap-2">
              <img src="assets/order-ahead.png" alt="" class="w-10">
              <div class="flex flex-col">
                <p class="text-sm font-bold">Order Ahead</p>
                <p class="text-sm">Order ahead takeout from your favorite restaurants.</p>
              </div>
            </div>
            <div class="flex gap-2">
              <img src="assets/pay-in-seconds.png" alt="" class="w-10">
              <div class="flex flex-col">
                <p class="text-sm font-bold">Pay in seconds</p>
                <p class="text-sm">and save your infor for easy re-order</p>
              </div>
            </div>
            <div class="flex gap-2">
              <img src="assets/pickup-in-stores.png" alt="" class="w-10">
              <div class="flex flex-col">
                <p class="text-sm font-bold">Pickup in store</p>
                <p class="text-sm">Pick up in store or get delivered and never wait in line.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <img src="assets/food.png" width="340px" alt="" class="mb-20">
        </div>
      </div>
    </div>
  </div>
  